<h1><%= @person.name %>'s details</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li><%= link_to 'People', people_path %></li>
  <li class="active"><%= @person.name %></li>
</ol>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.birthdate.strftime("%d %B %Y") %>
</p>

<% if @person.messages.any? %>
<hr />

<ul class="list-group">
  <% @person.messages.each do |m| %>
    <li class="list-group-item">
      <strong><%= @person.name %></strong> posted a message on event <strong><%= link_to m.event.title, event_path(m.event) %></strong> on <%= m.date.strftime("%d %B %Y") %>
    </li>
  <% end %>
</ul>
<% end %>
