<h1><%= @person.name %>'s details</h1>

<p>
  <%= link_to 'Home', :root %> |  <%= link_to 'Back', people_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.birthdate.strftime("%d %B %Y") %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Delete', person_path(@person),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>

<% if @person.messages.size != 0 %>
<hr>
<% @person.messages.each do |m| %>
  <p>
    <strong><%= @person.name %></strong> posted a message on event <strong><%= link_to m.event.title, event_path(m.event) %></strong> on <%= m.date.strftime("%d %B %Y") %>
  </p>
<% end %>
<% end %>
