<h1><%= @event.title %></h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active"><%= @event.title %></li>
</ol>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startdate.strftime("%d %B %Y %H:%M") %>
</p>
 
<p>
  <strong>Enddate:</strong>
  <%= @event.enddate.strftime("%d %B %Y %H:%M") %>
</p>

<hr>

<h2>Messages</h2>

<% if @people.size != 0 %>
  <%= render 'messages/messages' %>

  <p>
    <strong>Post a new message</strong>
    <%= form_for([@event, @event.messages.build]) do |f| %>
      <%= render :partial => 'messages/form', :locals => {:f => f} %>
    <% end %>
  </p>
<% else %>
  <p>
    <em><%= link_to 'Create a user', new_person_path %> to enable messages</em>
  </p>
<% end %>
