<h1> Event <%= @event.id %></h1>

<p>
  <%= link_to 'Home', :root %> |  <%= link_to 'Back', events_path %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startdate %>
</p>
 
<p>
  <strong>Enddate:</strong>
  <%= @event.enddate %>
</p>

<hr>

<h2>Messages</h2>

<%= render 'messages/message' %>

<p>
  <%= render 'messages/embedded_form' %>
</p>
