<h1><%= @event.title %></h1>

<ol class="breadcrumb">
  <li>
    <%= link_to 'Home', :root %>
  </li>
  <li>
    <%= link_to 'Events', events_path %>
  </li>
  <li class="active">
    <%= @event.title %>
  </li>
</ol>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Event: <%= @event.title %>
      </div>
      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= @event.title %>
        </p>

        <p>
          <strong>Text:</strong>
          <%= nl2br(@event.text).html_safe %>
        </p>

        <p>
          <strong>Startdate:</strong>
          <%= @event.startdate.strftime("%d %B %Y %H:%M") %>
        </p>
         
        <p>
          <strong>Enddate:</strong>
          <%= @event.enddate.strftime("%d %B %Y %H:%M") %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        People attending
      </div>
      <div class="panel-body">
        <div class="form-group">
          <% if Person.all.any? %>
            <% if Person.all.size > @event.people.size %>
              <%= form_for :person, url: event_people_path(@event) do |f| %>
                <%= f.select(:id) do %>
                  <% Person.all.each do |p| -%>
                    <% unless @event.people.include?(p) %>
                      <%= content_tag(:option, p.name, value: p.id) %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= f.submit 'Add', :class => "btn btn-xs btn-success" %>
              <% end %>
            <% else %>
              <em>Everyone is attending this event</em>
            <% end %>
          <% else %>
            <em><%= link_to 'Create a person', new_person_path %> to manage attendance</em>
          <% end %>
        </div>
        <hr>
        <% if @event.people.any? %>
          <table class="table">
            <thead>
              <th>Person</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <% @event.people.each do |p| %>
              <tr>
                <td class="td-fill">
                  <%= link_to p.name, person_path(p) %>
                </td>
                <td>
                  <%= link_to 'Delete', event_person_path(@event, :id => p.id), method: :delete, :class => "btn btn-xs btn-danger" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <em>There are no people attending yet</em>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p>
  <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-default" %>
  <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></p>

<hr>
<h2>Messages</h2>

<% if Person.all.any? %>
<%= render 'messages/messages' %>

<p>
  <strong>Post a new message</strong>
  <%= form_for @message, url: event_messages_path(@event) do |f| %>
  <%= render :partial => 'messages/form', :locals => {:f => f} %>
  <% end %>
</p>
<% else %>
<p>
  <em><%= link_to 'Create a user', new_person_path %> to post a message</em>
</p>
<% end %>
