<div class="form-group">
  <%= f.label :person %><br />
  <% if Person.all.any? %>
    <%= f.select(:person_id) do %>
      <% Person.all.each do |p| -%>
        <%= content_tag(:option, p.name, value: p.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="form-group">
  <%= f.text_area :text, :require => "true", :class => "form-control", :placeholder => :text, :required => true %>
</div>
<div class="form-group">
  <%= f.label :date %><br />
  <%= f.datetime_select :date, start_year: 1900, end_year: 2015 %>
</div>
<div class="form-group">
  <%= f.submit 'Save', :class => "btn btn-success" %>
</div>
