<% if @event.messages.any? %>
  <div class="row">
    <% @event.messages.each do |message| %>
    <div class="col-lg-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>
            <strong><%= link_to message.person.name, person_path(Person.where(name: message.person.name).first.id) %></strong> &mdash; <small><em><%= message.date.strftime("%d %B %Y %H:%M") %></em></small>
          </span>
          <span class="pull-right">
            <%= link_to 'Edit', edit_event_message_path(@event, message), :class => "btn btn-xs btn-default" %>
            <%= link_to 'Delete', event_message_path(@event, message),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %>
          </span>
        </div>
        <div class="panel-body">
          <p>
            <%= message.text %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <p>
    <em>No messages yet</em>
  </p>
<% end %>
