<% if @event.messages.size != 0 %>
  <% @event.messages.each do |message| %>
  <p>
    <strong><%= link_to message.person.name, person_path(Person.where(name: message.person.name).first.id) %></strong> said the following on <strong><%= message.date.strftime("%d %B %Y %H:%M") %></strong>
    <p>
      <em><%= message.text %></em>
    </p>
    <p>
      <%= link_to 'Edit', edit_message_path(message) %> |
      <%= link_to 'Delete', message_path(message),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    </p>
    <hr>
  </p>
  <% end %>
<% else %>
  <p>
    <em>No messages yet</em>
  </p>
<% end %>
