<h1>Edit person</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li><%= link_to 'Events', event_path %></li>
  <li><%= link_to @event.title, event_path(@event) %></li>
  <li class="active">Message</li>
</ol>

<%= form_for @message do |f| %>
  <%= render :partial => 'messages/form', :locals => {:f => f} %>
<% end %>
