<h1>Edit person</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li><%= link_to 'Events', event_path %></li>
  <li><%= link_to @event.title, event_path(@event) %></li>
  <li class="active">Message</li>
</ol>

<% if @message.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <strong><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</strong>
  <ul>
  <% @message.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @message, url: event_message_path(@event, @message) do |f| %>
  <%= render :partial => 'messages/form', :locals => {:f => f} %>
<% end %>
